{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <h1>Sesion Stats</h1>
    <h4>Actual sesiom time :</h4>
    <div>
        <span class="text-dark"> (sesion time: {{time}} seconds) </span>
    </div>

    
    <h4>Sesion clicked docs:</h4>
    
    {% for doc in clicks_data %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ doc.count }} visits) </span> — id: {{ doc.id }} — {{ doc.description }}
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
